/*
  Like a good neighbor.
  Source provided :)

  The unasked question is can I code my way to success?
  Apparently no, there is nothing I cannot code a solution to,
  okay well this is quite bad coding because it's not automated but
  it looks +pretty+, well okay I think it's pretty and that's what 
  matters doesn't it?

  Don't worry, plain text version is provided because this is pretty insane
  to try and read.

  Thanks org-mode wiki.
  https://orgmode.org/manual/CSS-support.html#CSS-support
*/
p.author {
    font-size: 1.25em;
    color: red;
    font-family: Monospace;
    text-align: center;
}

#dumbnote {
    display: inline-block;
}

#note_dumbnote {
    padding: 2em;
    background-color : black;
    color : lightgreen;
    border: 6px solid green;
}

#text-table-of-contents {
    font-size: 1.5em;
    padding : 0.20em;
    margin: 0em;
    float:top;
    font-family: Times New Roman;
}

.title {
    font-size: 4em;
    text-shadow: 8px 0px 3px blue;
    text-align:center;
    color : darkgray; 
}

a {
    color : green;
}

#precursor {
    text-align: center;
    color : blue;
}

.outline-3 {
    text-align: center;
    margin: auto;
    border: 3px solid green;
    width : 95%;
}

body {
    font-size: 1.35em;
    font-family: Arial;
    background-color: white;
    color: black;
}

.exhibit {
    width: 25%;
    margin : 3em;
    background-color: #111111;
    box-shadow: -10px 10px #000000;
}

.exhibit-quote {
    color: white;
    font-size: 1.25em;
    text-shadow: 3px 0px 1px #333333;
}

.propagandabloc {
    background-color: #222222;
    padding: 0;
    position: relative;
    border: 3px solid green;
    padding-top : 0.6em;
    margin-top : 2em;
    margin-bottom : 4em;
    margin-right : 3.5em;
    margin-left : 1.5em;
    height: 12em;
    box-shadow: -10px 10px 5px #FFFFFF;
}

.propagandabloc > div {
    display: inline-block;
    width : 20em;
    margin : 0px;
    padding : 0px;
}

.propagandabloc p {
    margin: 0;
}
