#head-container {
    padding: 2em;
    text-align: center;
}

#header-title-id {
    font-size: 3.5em;
}

#sub-sub-header-title-id {
    margin-top: 1.0em;
    font-size: 1.0em;
}
#sub-header-title-id {
    font-size: 2em;
}

#info-container {
    display: flex;
    justify-content: center;
    /* margin-bottom: 1vh; */
}
#quicklink-container {
    display: flex;
    justify-content: center;
}

#info {
    text-align: left;
    width: 70%;
}

@media screen and (max-width: 650px) {
    #info {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #head-container {
        padding: 1em;
        text-align: center;
    }

    #info {
        width: 90%;
    }

    #header-title-id {
        font-size: 4em;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    #space-holder {
        height: 42%;
    }
}

