/*
  This could use a refactor.
*/
@import "default.css";

@font-face {
    font-family: GNUUnifont;
    font-display: swap;
    src: url('../shared-resources/unifont-13.0.04.ttf');
}

* {
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: GNUUnifont;
}

::selection {
    background: var(--highlight-color);
    color: var(--background);
}

ol, ul {
    margin-left: 2em;
    padding: 0.5rem;
}

ul {
    list-style-type: square;
}

body {
    line-height: 2em;
    background-color: var(--background);
    color: var(--primary-face);
}

.body-container {
    margin-top: 0;
    margin-bottom: 20vh;
    margin-left: 1.2em;
    line-height: 1.2em;
    width: 75%;
}

.body-container img {
    width: 45%;
    margin: 1.5em;
}

@media(max-width: 650px) {
    .body-container {
        width: 90%;
    }
}

@keyframes "blink" {
    from, to {
        color: transparent;
    }

    50% {
        color: var(--blink-color);
    }
}

.blinking-cursor {
    display: inline-block;
    animation: blink step-start 1.4s infinite;
}

.modeline-holder {
    float: left;
    width: 100%;
    position: fixed;
    bottom: 0;
}


.mode-bar pre {
    background-color: var(--modeline-background);
    color: var(--modeline-face);
    font-family: inherit;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

@media(max-width: 593px) {
    .mode-bar {
        font-size: 0.7em;
    }
}

.mini-buffer {
    background-color: var(--minibuffer-background);
    color: var(--minibuffer-face);
    font-family: inherit;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

#ugly-ass-gutter {
    position: fixed;
    white-space: nowrap;
    top: 0;
    left: 0;
    line-height: 1em;
}

#ugly-ass-gutter p {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    color: var(--gutter-face-color);
}

#mini-buffer-autocompletion {
    line-height: 1.1em;

    position: fixed;
    bottom: 4em;
    background-color: var(--minibuffer-completion-background);
    width: calc(100% - 18px);

    max-height: 50%;
    min-height: 10%;
    overflow-y: scroll;

    color: var(--minibuffer-completion-face);

    border: 1px solid var(--minibuffer-completion-border-color);
    padding: 8px;
    display: none;
}

#mini-buffer-autocompletion li a {
    list-style-type: none;
    color: var(--minibuffer-completion-face);
    margin-left: 1em;
}

#mini-buffer-autocompletion li a:hover,
#mini-buffer-autocompletion li a:focus 
{
    margin-left: 1.5em;
    font-weight: bolder;
}


#mini-buffer-main pre:hover {
    color: var(--minibuffer-active-face);
}

#header-title-id {
    color: var(--title-major-color);
    text-shadow: 5px 3px var(--title-minor-color);
}

#sub-header-title-id {
    color: var(--title-major-color);
}

/*
  PROJECTS PAGE
*/
#project-listing {
    display: flex;
    flex-flow: column;
    /* flex-wrap: wrap; */
    /* flex-flow: row-wrap; */
}
#project-listing li {
    margin: 1.0em;
}

.project-title {
    color: var(--project-title-face);
    padding: 0.5em;
    font-size: 1.5em;
}

.body-container {
    max-width: 600px;
}
.body-container .project-thumb {
    width: 200px;
    padding: 0.5em; 
    margin: 0.5em;
}

.project-description {
    display: flow-root;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-face);
    
    width: 120%;
    max-width: 800px;
}
.fp-project-description {
    display: flow-root;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-face);
}

.fp-project-description .project-thumb {
    width: 300px;
}

@media(max-width: 550px) {
    .project-thumb {
        width: 100px;
        margin: 1.0em;
    }

    .project-description p {
        font-size: 0.9rem;
    }
}

/*
  Game diary stuff

  Grr, this one's going to be difficult for me to get right...
  This looks okay unless it's an iPad basically.
*/
#game-listing {
    display: flex;
    flex-flow: row wrap;
}

.game-card {
    max-width: 500px;
    margin-right: 4em;
    flex: 1 1 400px;
}

.game-title, .game-development-information {
    color: var(--project-title-face);
}

.body-container .game-thumb {
    width: 150px;
    float: left;
    padding: 0.5em; 
    margin: 0.5em;
}

.game-development-information {
    margin-right: 0.7em;
    margin-bottom: 0.7em;
    text-align: right;
}

.game-description {
    display: flow-root;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-face);
    
    width: 100%;
    max-width: 700px;
}

@media(max-width: 550px) {
    #game-listing {
        width: 120%;
    }
    .game-development-information h2 {
        font-size: 0.8em;
    }
    .game-thumb {
        width: 130px;
        margin: 0.5em;
        padding: 0.5em;
    }

    .game-description p {
        font-size: 0.9rem;
    }
}
/*
  links lmao
*/
a:link {color: var(--link-color);}
a:visited{color: var(--link-visited-color);}
a:hover, a:active{color: var(--link-active-color);}
