/*
    Some shared style shit.
*/
:root {
    --highlight-color: yellow;
    --background: black;
    --primary-face: white;

    --blink-color: #00FF00FF;

    --project-title-face: yellow;

    --modeline-background: var(--primary-face);
    --modeline-face: var(--background);

    --minibuffer-background: var(--background);
    --minibuffer-face: var(--primary-face);
    --minibuffer-active-face: red;

    --minibuffer-completion-background: var(--background);
    --minibuffer-completion-face: var(--primary-face);
    --minibuffer-completion-border-color: var(--minibuffer-completion-face);

    --gutter-face-color: blue;

    --title-minor-color: red;
    --title-major-color: lightblue;

    --link-color: red;
    --link-visited-color: blue;
    --link-active-color: red;
}
