:root {
    --highlight-color: black;
    --background: white;
    --primary-face: black;

    --blink-color: red;

    --project-title-face: purple;

    --modeline-background: var(--primary-face);
    --modeline-face: var(--background);

    --minibuffer-background: var(--background);
    --minibuffer-face: var(--primary-face);
    --minibuffer-active-face: red;

    --minibuffer-completion-background: var(--background);
    --minibuffer-completion-face: var(--primary-face);
    --minibuffer-completion-border-color: var(--minibuffer-completion-face);

    --gutter-face-color: red;

    --title-minor-color: blue;
    --title-major-color: black;

    --link-color: purple;
    --link-visited-color: aqua;
    --link-active-color: purple;
}
